<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SegmentSearch</display-name>
  <resource-ref>
    <description>MySQL DataSource</description>
    <res-ref-name>jdbc/segmentdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
 
  <filter>
    <filter-name>CharactorEncodingFilter</filter-name>
    <filter-class>filter.CharactorEncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>HtmlFilter</filter-name>
    <filter-class>filter.HtmlFilter</filter-class>
  </filter>
  <!-- 
    <filter>
    <description>LoginCheckFilter</description>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
   -->
   
  <filter-mapping>
    <filter-name>CharactorEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HtmlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchMovie</display-name>
    <servlet-name>searchMovie</servlet-name>
    <servlet-class>searchMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchMovie</servlet-name>
    <url-pattern>/searchMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStar</display-name>
    <servlet-name>getStar</servlet-name>
    <servlet-class>getStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStar</servlet-name>
    <url-pattern>/getStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMovie</display-name>
    <servlet-name>getMovie</servlet-name>
    <servlet-class>getMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMovie</servlet-name>
    <url-pattern>/getMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>advancedSearch</display-name>
    <servlet-name>advancedSearch</servlet-name>
    <servlet-class>advancedSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advancedSearch</servlet-name>
    <url-pattern>/advancedSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCart</display-name>
    <servlet-name>updateCart</servlet-name>
    <servlet-class>updateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCart</servlet-name>
    <url-pattern>/updateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkout</display-name>
    <servlet-name>checkout</servlet-name>
    <servlet-class>checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseByGenre</display-name>
    <servlet-name>BrowseByGenre</servlet-name>
    <servlet-class>BrowseByGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByGenre</servlet-name>
    <url-pattern>/BrowseByGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseByTitle</display-name>
    <servlet-name>BrowseByTitle</servlet-name>
    <servlet-class>BrowseByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByTitle</servlet-name>
    <url-pattern>/BrowseByTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGenre</display-name>
    <servlet-name>SelectGenre</servlet-name>
    <servlet-class>SelectGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGenre</servlet-name>
    <url-pattern>/SelectGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTitle</display-name>
    <servlet-name>SelectTitle</servlet-name>
    <servlet-class>SelectTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTitle</servlet-name>
    <url-pattern>/SelectTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleMovie</display-name>
    <servlet-name>SingleMovie</servlet-name>
    <servlet-class>SingleMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/SingleMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleStar</display-name>
    <servlet-name>SingleStar</servlet-name>
    <servlet-class>SingleStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/SingleStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExample</display-name>
    <servlet-name>AddExample</servlet-name>
    <servlet-class>AddExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExample</servlet-name>
    <url-pattern>/AddExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Errors</display-name>
    <servlet-name>Errors</servlet-name>
    <servlet-class>Errors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Errors</servlet-name>
    <url-pattern>/Errors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTo</display-name>
    <servlet-name>addTo</servlet-name>
    <servlet-class>addTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTo</servlet-name>
    <url-pattern>/addTo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clPrivilege</display-name>
    <servlet-name>clPrivilege</servlet-name>
    <servlet-class>clPrivilege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clPrivilege</servlet-name>
    <url-pattern>/clPrivilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dbPrivilege</display-name>
    <servlet-name>dbPrivilege</servlet-name>
    <servlet-class>dbPrivilege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbPrivilege</servlet-name>
    <url-pattern>/dbPrivilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDatabases</display-name>
    <servlet-name>ShowDatabases</servlet-name>
    <servlet-class>ShowDatabases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDatabases</servlet-name>
    <url-pattern>/ShowDatabases</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tbPrivilege</display-name>
    <servlet-name>tbPrivilege</servlet-name>
    <servlet-class>tbPrivilege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tbPrivilege</servlet-name>
    <url-pattern>/tbPrivilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pcPrivilege</display-name>
    <servlet-name>pcPrivilege</servlet-name>
    <servlet-class>pcPrivilege</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pcPrivilege</servlet-name>
    <url-pattern>/pcPrivilege</url-pattern>
  </servlet-mapping>

</web-app>